/* ===== Main Navbar Styles ===== */
.navbar {
    height: 80px;
    padding: 0 0 5px;
    align-items: center;
    border-bottom: 1px solid #175771;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
    z-index: 1000;
    background: white;
}

/* Navbar Brand */
.navbar .navbar-brand {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #003268;
    font-size: x-large;
    font-weight: bold;
}

.navbar .navbar-brand:hover {
    color: #ccbb22;
}

.navbar .navbar-brand #logo {
    height: 68px;
    margin: 0 10px;
}

/* Navbar Navigation */
.navbar .navbar-nav {
    max-width: 60%;
    margin: 0 auto;
    border: 1px solid #175771;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background: white;
}

/* Nav Links */
.navbar .nav-item .nav-link {
    font-size: 1.05rem;
    color: rgba(2, 31, 51, 0.9);
    transition: all 0.3s;
}

.navbar .nav-item .nav-link:hover {
    color: #ccbb22 !important;
}

.nav-link i {
    display: none;
}

/* Offcanvas Styles */
.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.offcanvas-header .logo {
    height: 60px;
    margin-right: 15px;
}

.offcanvas-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    white-space: nowrap;
    color: #003268;
    font-weight: bold;
}

/* Get In Touch Button */
.get-in-touch {
    text-align: center;
    margin: 0 auto;
}

.get-in-touch a {
    display: inline-block;
    background-color: #10528c;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.get-in-touch a:hover {
    background-color: #0c3b6e;
    transform: scale(1.05);
}

/* navbar toggler */
/* Custom Toggler - Recommended */
.navbar .navbar-toggler {
    border-radius: 6px;
    padding: 0.65rem;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%2310528c' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.5' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    width: 30px;
    height: 30px;
}

.navbar-toggler:hover {
    background-color: rgba(16, 82, 140, 0.1);
    transform: scale(1.05);
}